body {
  height: 100vh;
}

header {
  width: 100%;
  height: 10vh;
  display: flex;
  color: #000;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  border-bottom: 1px solid #000;
}

header h1 {
  display: flex;
  justify-self: center;
  font-size: 2.5rem;
  font-family: "Raleway", sans-serif;
}

/* Hamburger icon */
.menu-toggle {
  display: none;
  justify-self: flex-end;
  flex-direction: column;
  height: 30px;
  justify-content: space-between;
  width: 30px;
}

.bar {
  background-color: #333;
  border-radius: 5px;
  height: 3px;
  width: 100%;
}


/* Main app content */
main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  width: 75%;
  height: 60vh;
  display: flex;
  flex-flow: row wrap;
  border: 1px solid #000;
}

#tasks-header {
  width: 100%;
  height: 10%;
  background-color: #EEE;
  border-bottom: 1px solid #000;
}

#tasks-navbar {
  width: 25%;
  height: 90%;
  background-color: #F8F8F8;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

ul.projects {
  list-style-type: circle;
}

#tasks-content {
  width: 75%;
  height: 90%;
}

/* Mobile view */
@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }