// @media queries for mobile phones
body {
  background: #000;
}

@media (max-width: 780px) {
  header h1 {
    margin-left: 10px;
  }

  header {
    justify-content: space-between;
    height: 80px;
  }

  header h1,
  #dark-mode-icon {
    font-size: 1.7rem;
  }

  #dark-mode-icon {
    margin-right: 52.7%;
    margin-left: 47.3%;
  }

  .header-right-side {
    display: flex;
    justify-content: space-around;
    width: 33%;
    margin-right: 13px;
  }

  #weather-info {
    margin-right: 5px;
    width: 70%;
    margin-top: -10px;
  }

  /* Drop weather description below temperature to save space. */
  .weather-info-container {
    display: flex;
    flex-direction: column;
  }

  #location,
  #temperature {
    font-size: 1rem;
  }

  #weather-description {
    font-size: 0.85rem;
    margin-top: 4px;
  }

  /* Rules for message for when geolocation is not available. */
  #weather-description.geolocation-error {
    color: red;
    font-size: 2.4vw;
    line-height: 1.2;
    margin-top: 2px;
  }

  .geolocaiton-error {
    font-size: 0.5rem;
  }

  /* Hamburger icon */
  #hamburger-icon {
    display: flex;
  }

  #hamburger-icon:hover {
    color: #00f;
    transform: scale(1.1);
  }

  /* Hide wide-screen menu. */
  #wide-screen-menu {
    display: none;
  }

  .project-card {
    margin-top: 0;
  }

  .project-card-body {
    padding-bottom: 5px;
    background-color: #eee;
  }

  .project-info {
    min-height: 125px;
    font-size: 0.85rem;
  }

  .modify-project {
    margin-top: 80px;
  }

  #add-task-project {
    font-size: 0.75rem;
    height: 50px;
    width: 50px;
    margin: -10px 0 0px 5px;
  }

  .modify-project .delete-icon {
    margin: 20px 5px 0 0;
  }

  /* Displayed tasks */
  .list-range-title {
    font-size: 1.2rem;
    padding-top: 20px;
    margin: 0;
  }

  .task-list {
    height: 85vh;
  }

  .task-list > :first-child {
    /* Add top margin to first task card. */
    margin-top: 20px;
  }

  .task-list li {
    margin-bottom: 15px;
  }

  /* Popups */

  .popup {
    margin-top: 67px;
  }

  /* Hide desktop app content */
  #app {
    display: none;
  }
}

/* Mobile menu. */
#mobile-menu {
  position: absolute;
  z-index: 2;
  margin-top: 67px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: 314px;
  background: lightgray;
  border: 1px solid #000;
}

.mobile-dates {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 310px;
  height: 250px;
}

.mobile-label {
  font-size: 1.1rem;
  font-weight: 700;
  color: #333;
  text-align: center;
  width: 200px;
  border-bottom: 1px solid #777;
  padding-bottom: 2px;
  margin-top: 10px;
}

.mobile-date-selector {
  font-size: 0.85rem;
  font-weight: 700;
  text-align: center;
  height: 65px;
  width: 65px;
  margin: 25px;
  border-radius: 5%;
}

#mobile-add-task {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-weight: 700;
  height: 60px;
  width: 60px;
  background: lightblue;
  border-radius: 10%;
  margin-top: 120px;
}

.mobile-projects-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#mobile-project-button-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  width: 240px;
}

.mobile-projects-button {
  font-size: 0.9rem;
  font-weight: 700;
  text-align: center;
  width: 100px;
  height: 50px;
  border-radius: 5%;
}

#mobile-view-projects-button {
  background: #ffd580;
}

#mobile-add-project-button {
  background: lightblue;
}

#mobile-menu-projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  list-style-type: disc;
  padding: 0;
  margin-left: 175px;
}

#mobile-menu-projects li {
  display: flex;
  align-items: flex-end;
  text-indent: 10px;
  color: #333;
  height: 23px;
  width: 185px;
  background: #d6c6e1;
  border-top: 1px solid #777;
  border-left: 1px solid #777;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-radius: 5%;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

/* Mobile content div. */
#mobile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 160px;
}

#mobile-content .no-tasks-message {
  font-size: 1.2rem;
  color: #444;
  font-style: italic;
  margin-top: 10%;
}
