body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Raleway", sans-serif;
}

header {
  width: 100%;
  height: 10vh;
  display: flex;
  color: #000;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  border-bottom: 1px solid #000;
}

header h1 {
  display: flex;
  justify-self: center;
  font-size: 2.5rem;
  font-family: "Raleway", sans-serif;
}

/* Hamburger icon */
.menu-toggle {
  display: none;
  justify-self: flex-end;
  flex-direction: column;
  cursor: pointer;
  height: 30px;
  justify-content: space-between;
  width: 30px;
}

.bar {
  background-color: #333;
  border-radius: 5px;
  height: 3px;
  width: 100%;
}

/* Main app content */
main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Weather API */

#weather-info {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 1rem;
  font-style: italic;
}


#location {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

#temperature {
  font-size: 1.5rem;
  color: #333;
  font-weight: 300; 
}

#weather-descripton {
  font-size: 1rem;
  font-style: italic;
  margin-left: 5px;
}

#app {
  width: 75%;
  height: 60vh;
  display: flex;
  flex-flow: row wrap;
  border: 1px solid #000;
  margin-bottom: 5%;
}

#tasks-header {
  width: 100%;
  height: 10%;
  background-color: #eee;
  border-bottom: 1px solid #000;
}

#tasks-header p {
  margin-left: 2%;
}

/* Side nav-bar */
#tasks-navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  height: 90%;
  background-color: #f8f8f8;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

#tasks-navbar > * {
  margin-left: 10%;
}

.nav-item {
  list-style-type: disc;
  cursor: pointer;
}

#tasks-label {
  margin-top: -20%;
}

#projects-label {
  margin-top: 5%;
}
/*---*/

#add-project-button {
  display: inline-block;
  cursor: pointer;
  padding: 0.5rem;
}

#add-project-button:hover {
  font-style: italic;
  background-color: #eee;
}

ul.projects {
  list-style-type: circle;
}

.plus-sign {
  padding: 1px 5px;
  border: 1px solid #000;
  border-radius: 50%;
}

#content-area {
  width: 75%;
  height: 90%;
}

/* Popups */
#add-project-popup {
  display: flex;
  flex-flow: row wrap;
  position: absolute;
  height: 350px;
  width: 275px;
  z-index: 100;
  text-align: center;
  border: 1px solid #000;
  background-color: #fff;
}

.popup-header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  border-bottom: 1px solid #000;
}

.close-popup {
  display: inline-block;
  text-align: center;
  border-left: 1px solid #000;
  cursor: pointer;
  font-size: 1.5rem;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  padding: 4px 10px;
}

.close-popup:hover {
  background-color: #eee;
}

.popup-body {
  width: 100%;
  height: 90%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.popup-body > :not(:first-child) {
  margin-top: 15px;
}

#add-project-popup textarea {
  resize: none;
}

/* Mobile view */
@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }
}

/* Applied over the entire app, popup aside, when a popup is open */
.blur {
  filter: blur(5px);
}
