body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 97%; /* Prevents horizontal scrolling */
  font-family: "Raleway", sans-serif;
  transition: filter 0.2s ease;
  overflow: hidden;
  color: #160e03;
  background-color: #fff5e5;
}

header {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  background-color: #eee;
  /* color: #000; */
  align-items: center;
  width: 97vw;
  height: 90px;
  font-size: 2rem;
  border-bottom: 1px solid #000;
}

header h1 {
  font-size: 2.2rem;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  word-spacing: -4px;
}

h1 .pro {
  font-style: italic;
  font-weight: 300;
  color: #ff8c00;
}

h1 .arrows {
  font-style: italic;
  font-weight: 100;
  font-size: 1.8rem;
  color: #00b3b3;
}

/* Dark mode */
#dark-mode-icon {
  cursor: pointer;
  user-select: none;
  transition: transform 0.2s ease;
  margin-right: 61px;
}

#dark-mode-icon:hover {
  transform: scale(1.2);
}

.dark-mode {
  font-family: "Raleway", sans-serif;
  filter: invert(1) hue-rotate(180deg);
  background-color: #222;
}

.header-right-side {
  display: flex;
  align-items: center;
  margin-right: 61px;
}

/* Weather API */
#weather-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  max-width: 175px;
  text-align: center;
  font-size: 1rem;
  font-style: italic;
}

#weather-description.geolocation-error {
  color: #f00;
  line-height: 1.1;
}

#location {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

#temperature {
  font-size: 1.5rem;
  color: #333;
  font-weight: 300;
}

.weather-description {
  font-size: 1rem;
  font-style: italic;
}

/* Hamburger icon */
#hamburger-icon {
  display: none;
  justify-self: flex-end;
  flex-direction: column;
  justify-content: space-between;
  height: 25px;
  min-width: 30px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.bar {
  background-color: #333;
  border-radius: 5px;
  height: 3px;
  width: 100%;
}

#wide-screen-menu {
  position: absolute;
  font-size: 1rem;
  min-width: 65px;
  width: 5vw;
  background-color: turquoise;
  margin: 78px 0px 0 87%;
  padding-top: 4px;
  transition: transform 0.2s ease;
}

#wide-screen-menu:hover {
  transform: scale(1.1);
}

/* Main app content */
main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  width: 75%;
  height: 65%;
  display: flex;
  flex-flow: row wrap;
  border: 1px solid #000;
}

#tasks-header {
  width: 100%;
  height: 10%;
  background-color: #ccc;
  border-bottom: 1px solid #000;
}

#tasks-header p {
  margin-left: 2%;
}

/* Container for sidebar, and display-area */

#app-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90%;
}

/* Side nav-bar */
#tasks-navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 24%;
  height: 100%;
  background-color: #f8f8f8;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

#tasks-navbar > * {
  margin-left: 10%;
}

.nav-item {
  list-style-type: disc;
  cursor: pointer;
}

#tasks-label {
  margin-top: -20%;
}

#projects-label {
  margin-top: 5%;
  margin-bottom: 2%;
}
/*---*/

.new-post-button {
  display: inline-block;
  padding: 0.5rem;
}

.add-task-button {
  display: inline-block;
  padding: 0.5rem;
}

#submit-task {
  background: #fff;
}

.new-post-button:hover,
.add-task-button:hover {
  cursor: pointer;
  font-style: italic;
  background-color: #eee;
}

ul.projects {
  list-style-type: circle;
}

.plus-sign {
  padding: 1px 5px;
  border: 1px solid #000;
  border-radius: 50%;
}

#content-area {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 90%;
  height: 100%;
  margin-top: 160px;
}

/* Project cards */
.project-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 850px;
  height: 100%;
  margin-top: 10px;
}

.project-info {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 180px;
  background-color: lightblue;
  color: #674019;
  border-bottom: 2px solid #555;
  border-right: 3px solid #aaa;
  border-left: 1px solid #bbb;
}

.project-card-header {
  display: flex;
  align-items: center;
  margin-top: 0.75rem;
}

#project-name {
  text-align: center;
  width: 100%;
  margin: 0;
  margin-left: 0.75rem;
}

.project-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 70%;
  align-items: center;
}

.project-description {
  margin: auto 0;
  font-style: italic;
  text-align: center;
}

.deadline-priority {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-deadline {
  margin-bottom: 5px;
}

.project-priority {
  display: flex;
}

.modify-project {
  position: absolute;
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  margin-top: 145px;
}

.modify-project .delete-icon {
  position: initial;
  margin: 10px 5px 0 0;
  color: #160e03;
}

.add-task-text {
  font-size: 0.85rem;
}

#add-task-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  font-weight: 700;
  height: 60px;
  width: 60px;
  border-radius: 8%;
  margin: -30px 0 0 5%;
  background-color: lavender;
}

#project-tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.no-tasks {
  font-style: italic;
}

.no-tasks-message {
  margin-top: 10rem;
  font-size: 1.75rem;
  font-style: italic;
}

/* Popups */
.popup {
  display: flex;
  flex-flow: row wrap;
  position: absolute;
  height: 400px;
  width: 275px;
  z-index: 100;
  text-align: center;
  margin-top: 15%;
  border: 1px solid #000;
  background-color: #eee;
}

.popup-header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  border-bottom: 1px solid #000;
}

.close-popup {
  display: inline-block;
  text-align: center;
  border-left: 1px solid #000;
  cursor: pointer;
  font-size: 1.5rem;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  padding: 4px 10px;
}

.close-popup:hover {
  background-color: #eee;
}

.popup-body {
  width: 100%;
  height: 90%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.popup-body > :not(:first-child) {
  margin-top: 15px;
}

.popup textarea {
  resize: none;
}

/* Container that displays list of tasks*/
.tasks-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 75vw;
  max-width: 780px;
  margin: 0;
  overflow: hidden;
}

.list-range-title {
  text-align: center;
  border-bottom: 1px solid #000;
  background: lightblue;
  margin: 10px 0 0 0;
  padding: 20px 0;
}

#task-list {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 20px;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 20px 0;
  overflow-y: auto;
}

#task-list > li:last-child {
  /* Last task has margin for visibility */
  margin-bottom: 250px;
}

.task-list-item {
  display: flex;
  width: fit-content;
  height: fit-content;
  margin-bottom: 10px;
}

/* Task cards */
.task-card-wrapper {
  display: flex;
  position: relative;
  height: 240px;
  width: 230px;
}

.task-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
  height: 240px;
  border: 1px solid #000;
  padding: 0.25rem 0.75rem;
  background-color: #e7e7e7;
}

.task-card-content {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  width: 100%;
  height: 100%;
}

.task-name {
  text-decoration: underline;
  margin-bottom: 0;
}

.task-description {
  font-size: 0.95rem;
  font-style: italic;
  text-align: center;
  margin: auto 0;
}

.task-details {
  margin: auto 0 5px 0;
  line-height: 1.2;
}

.modify-tasks {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* cursor: pointer; */
  font-size: 1.5rem;
  width: 100%;
  margin-right: 20px;
  margin-top: auto;
}
.edit-icon {
  cursor: pointer;
  transition: transform 0.2s ease;
  margin-right: 10px;
}

.edit-icon:hover {
  color: #0f0;
  transform: scale(1.1);
}

.task-checkbox {
  pointer-events: auto;
  margin-right: 48px;
}

.delete-icon {
  position: absolute;
  justify-self: flex-end;
  font-size: 1.3rem;
  pointer-events: auto;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.task-card-wrapper .delete-icon {
  margin-left: 205px !important;
  margin-top: 223px !important;
}

.delete-icon:hover {
  color: #f00;
  transform: scale(1.1);
}

.task-completed {
  text-decoration: line-through;
  background: #eee !important;
  color: #aaa;
  pointer-events: none;
  cursor: default;
}

/*---*/

.overdue {
  background: lightsalmon;
}

/* Applied over the entire app, popup aside, when a popup is open */
.blur {
  filter: blur(5px);
  pointer-events: none;
}
