body {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
  width: 97%;
  font-family: "Raleway", sans-serif;
  transition: filter 0.2s ease;
  overflow: hidden;
}

header {
  position: absolute;
  z-index: 1;
  display: flex;
  color: #000;
  justify-content: space-around;
  align-items: center;
  width: 97vw;
  height: 90px;
  font-size: 2rem;
  border-bottom: 1px solid #000;
}

header h1 {
  font-size: 2.5rem;
  font-family: "Raleway", sans-serif;
}

/* Dark mode */
#dark-mode-icon {
  position: absolute;
  cursor: pointer;
  user-select: none;
  transition: transform 0.2s ease;
  margin-right: 50%;
  margin-left: 50%;
}

#dark-mode-icon:hover {
  transform: scale(1.2);
}

.dark-mode {
  font-family: "Raleway", sans-serif;
  filter: invert(1) hue-rotate(180deg);
  background-color: #222;
}

.header-right-side {
  display: flex;
  align-items: center;
}

/* Weather API */
#weather-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  max-width: 150px;
  text-align: center;
  font-size: 1rem;
  font-style: italic;
}

#weather-description.geolocation-error {
  color: #f00;
  line-height: 1.1;
}

#location {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

#temperature {
  font-size: 1.5rem;
  color: #333;
  font-weight: 300;
}

.weather-description {
  font-size: 1rem;
  font-style: italic;
}

/* Hamburger icon */
#hamburger-icon {
  display: none;
  justify-self: flex-end;
  flex-direction: column;
  justify-content: space-between;
  height: 25px;
  width: 25px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.bar {
  background-color: #333;
  border-radius: 5px;
  height: 3px;
  width: 100%;
}

/* Main app content */
main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  width: 75%;
  height: 65%;
  display: flex;
  flex-flow: row wrap;
  border: 1px solid #000;
}

#tasks-header {
  width: 100%;
  height: 10%;
  background-color: #eee;
  border-bottom: 1px solid #000;
}

#tasks-header p {
  margin-left: 2%;
}

/* Container for sidebar, and display-area */

#app-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90%;
}

/* Side nav-bar */
#tasks-navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 24%;
  height: 100%;
  background-color: #f8f8f8;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

#tasks-navbar > * {
  margin-left: 10%;
}

.nav-item {
  list-style-type: disc;
  cursor: pointer;
}

#tasks-label {
  margin-top: -20%;
}

#projects-label {
  margin-top: 5%;
  margin-bottom: 2%;
}
/*---*/

.new-post-button {
  display: inline-block;
  padding: 0.5rem;
}

.add-task-button {
  display: inline-block;
  padding: 0.5rem;
}

#submit-task {
  background: #fff;
}

.new-post-button:hover,
.add-task-button:hover {
  cursor: pointer;
  font-style: italic;
  background-color: #eee;
}

ul.projects {
  list-style-type: circle;
}

.plus-sign {
  padding: 1px 5px;
  border: 1px solid #000;
  border-radius: 50%;
}

#content-area {
  width: 75.5%;
  height: 100%;
}

/* Project cards */
.project-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.project-info {
  display: flex;
  flex-direction: column;
  height: 20%;
}

.project-card-header {
  display: flex;
  align-items: center;
  margin-top: 0.75rem;
}

#project-name {
  text-align: center;
  width: 100%;
  margin: 0;
  margin-left: 0.75rem;
}

.project-card-header .delete-icon {
  margin-right: 0.75rem;
}

.project-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-card.delete-icon {
  margin-left: 300px;
}

.project-description {
  margin: 0.5rem 0 0 0;
}

.project-deadline {
  margin: 0.5rem 0 0 0;
}

.project-priority {
  display: flex;
}

.project-task-label-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
  border-top: 1px solid #000;
}

.project-tasks-label {
  /* margin-left: 0.5rem; */
}

.add-task-text {
  font-size: 0.85rem;
}

#add-task-project {
  display: flex;
  justify-self: center;
  margin-right: 32%;
}

#project-tasks {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.no-tasks {
  font-style: italic;
}
/* Popups */
.popup {
  display: flex;
  flex-flow: row wrap;
  position: absolute;
  height: 400px;
  width: 275px;
  z-index: 100;
  text-align: center;
  margin-top: 15%;
  border: 1px solid #000;
  background-color: #eee;
}

.popup-header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  border-bottom: 1px solid #000;
}

.close-popup {
  display: inline-block;
  text-align: center;
  border-left: 1px solid #000;
  cursor: pointer;
  font-size: 1.5rem;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  padding: 4px 10px;
}

.close-popup:hover {
  background-color: #eee;
}

.popup-body {
  width: 100%;
  height: 90%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.popup-body > :not(:first-child) {
  margin-top: 15px;
}

.popup textarea {
  resize: none;
}

/* Container that displays list of tasks*/
.tasks-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.tasks-container-project {
  height: 82%;
}

.list-range-title {
  /* text-align: center; */
  width: 100%;
  border-bottom: 1px solid #000;
  margin: 0;
  padding: 10px 0;
}

.task-list,
#task-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 100%;
  width: 96.5%;
  margin: 0;
  margin-bottom: 3px;
  padding: 0 1.75%;
  overflow-y: auto;
}

.task-list > li:last-child,
#task-list > li:last-child {
  /* Last task has margin for visibility */
  margin-bottom: 110px;
}

.task-list-item {
  display: flex;
  width: fit-content;
  height: fit-content;
  margin-top: 25px;
}

/* Task cards */
.task-card-wrapper {
  display: flex;
  position: relative;
  height: 240px;
  width: 230px;
}

.task-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
  height: 240px;
  border: 1px solid #000;
  padding: 0.25rem 0.75rem;
}

.task-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.task-name {
  text-decoration: underline;
  margin-bottom: 0;
}

.modify-tasks {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* cursor: pointer; */
  font-size: 1.5rem;
  width: 100%;
  margin-right: 20px;
  margin-top: auto;
}
.edit-icon {
  cursor: pointer;
  transition: transform 0.2s ease;
  margin-right: 10px;
}

.edit-icon:hover {
  color: #0f0;
  transform: scale(1.1);
}

.task-checkbox {
  pointer-events: auto;
  margin-right: 49px;
}

.delete-icon {
  position: absolute;
  justify-self: flex-end;
  font-size: 1.3rem;
  pointer-events: auto;
  cursor: pointer;
  margin-left: 205px;
  margin-top: 223px;
  transition: transform 0.2s ease;
}

.delete-icon:hover {
  color: #f00;
  transform: scale(1.1);
}

.task-completed {
  text-decoration: line-through;
  background: #eee !important;
  color: #aaa;
  pointer-events: none;
  cursor: default;
}

/*---*/

.overdue {
  background: lightsalmon;
}

/* Applied over the entire app, popup aside, when a popup is open */
.blur {
  filter: blur(5px);
  pointer-events: none;
}
